//exercice 1
$primary-color: #1b337a;
$primary-surface-color-1: #a3c2e5;
$primary-surface-color-2: #dde8f7;

//exercice 2
$secondary-color: #6f007d;

$white: #ffffff;
$black: #000000;
$gray: #909dbf;
$gray-dark: #6f6f6f;
$gray-light: #dfdfdf;
$red: #ff2925;
