@use "layout" as *;
@use "sass:color";

$white: #ffffff;
$black: #000000;
$gray-dark: #6f6f6f;
$gray-light: #dfdfdf;
$red: color-mix(in srgb, #ff2925, #000000 10%); // made darker for accessibility

//exercice 1
:root {
  --accent-color: #1b337a;
}
$primary-color: var(--accent-color);
$primary-surface-color-1: color-mix(
  in srgb,
  $primary-color,
  $white 70%
); // should be #a3c2e5
$primary-surface-color-2: color-mix(
  in srgb,
  $primary-color,
  $white 90%
); // should be #dde8f7
$gray: color-mix(in srgb, $primary-color, $white 50%); // should be #909dbf
