@use "colors" as *;
@use "layout" as *;

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 100%;
  font-style: normal;
}

$main-font: "Open Sans", system-ui, -apple-system, "Segoe UI", sans-serif;

/* font size exercise 1 */
$font-size-table-minutes-lead: clamp(0.575rem, 0.55rem + 0.1875vi, 0.625rem);
$font-size-table-minutes: clamp(0.725rem, 0.6875rem + 0.1875vi, 0.7425rem);
$font-size-table-hours: clamp(0.9rem, 0.875rem + 0.165vi, 0.9375rem);
$font-size-table-header: clamp(0.75rem, 0.7125rem + 0.1875vi, 0.9375rem);
$font-size-title: clamp(1.9531rem, 1.8555rem + 0.4883vi, 2.4414rem);

/* font size exercise 2 */
$font-size-thermometer-stop: clamp(0.675rem, 0.6875rem + 0.1875vi, 0.7125rem);

@mixin page-title() {
  font-size: $font-size-title;
  font-family: $main-font;
}

@mixin table-header-title() {
  font-size: $font-size-table-header;
  font-weight: 500;
  span:first-child {
    text-transform: uppercase;
  }
  span:last-child {
    word-spacing: -0.1em;
  }
  @media (width <= $breakpoint-md) {
    font-size: calc($font-size-table-header * 1.1);
  }
}

@mixin table-hours-text() {
  font-size: $font-size-table-hours;
  font-weight: 500;
  line-height: 1rem;
  span:last-child {
    font-size: calc($font-size-table-hours * 0.6);
    font-weight: 400;
  }
  @media (width <= $breakpoint-md) {
    & > div:first-child {
      font-size: calc($font-size-table-hours * 1.1);
    }
  }
}

@mixin table-minutes-text() {
  font-size: $font-size-table-minutes;
  font-weight: 800;
  letter-spacing: -0.07em;
  line-height: 0.7rem;
  a {
    font-size: $font-size-table-minutes-lead;
    // preparing for v2
    text-decoration: none;
    color: inherit;
    pointer-events: none;
  }
  @media (width <= $breakpoint-md) {
    font-size: calc($font-size-table-minutes * 1.1);
    li:first-child {
      margin-block-start: calc($spacer-sm);
    }
  }
}

/* ------- Typography exercise 2 ------- */

@mixin stop-text() {
  font-family: $main-font;
  font-weight: 600;
  font-size: $font-size-thermometer-stop;
  letter-spacing: -0.03em;
  word-spacing: -0.05em;
  text-transform: capitalize;
  line-height: 1rem;
}

@mixin main-stop-text() {
  font-family: $main-font;
  font-weight: 600;
  font-size: $font-size-thermometer-stop;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: uppercase;
}
