@use "colors" as *;

//fonts

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 100%;
  font-style: normal;
}

$main-font: "Open Sans", system-ui, -apple-system, "Segoe UI", sans-serif;

/* font size */
$font-size-xxs: clamp(0.575rem, 0.55rem + 0.1875vi, 0.625rem);
$font-size-xs: clamp(0.625rem, 0.5875rem + 0.1875vi, 0.8125rem);
$font-size-sm: clamp(0.75rem, 0.65rem + 0.165vi, 0.875rem);
$font-size-md: clamp(0.75rem, 0.7125rem + 0.1875vi, 0.9375rem);
$font-size-lg: clamp(0.8125rem, 0.7625rem + 0.25vi, 1rem);
$font-size-xl: clamp(1.9531rem, 1.8555rem + 0.4883vi, 2.4414rem);

.fiche {
  font-family: $main-font;
  font-weight: 600;

  &__header {
    color: $white;
  }

  h1 {
    font-size: $font-size-xl;
  }

  h2 {
    font-size: $font-size-md;
    font-weight: 500;
    span:first-child {
      text-transform: uppercase;
    }
    span:last-child {
      word-spacing: -0.1em;
    }
  }

  a {
    // preparing for v2
    text-decoration: none;
    color: inherit;
    pointer-events: none;
  }

  &__body {
    .table {
      .table__col {
        & > div:first-child {
          line-height: 1rem;
          font-size: $font-size-lg;
          font-weight: 500;

          span:last-child {
            font-size: calc($font-size-lg * 0.6);
            font-weight: 400;
          }
        }
        & > ul {
          li {
            font-size: $font-size-sm;
            font-weight: 800;
            letter-spacing: -0.07em;
            line-height: 0.7rem;
            a {
              font-size: $font-size-xs;
            }
          }
        }
      }
    }
  }
}

.thermometer {
  font-family: $main-font;
  font-weight: 600;
  li {
    letter-spacing: -0.03em;
    word-spacing: -0.05em;
    min-height: 1rem;
    font-size: $font-size-xs;
  }
  li.main-stop {
    text-transform: uppercase;
    color: $gray-dark;
    border: 1.5px solid $gray-dark;
    border-radius: 2px;
    margin-block-end: 2.5px;
    span:first-child {
      background-color: $secondary-color;
      color: $white;
      padding-inline: 1px;
    }
    span:last-child {
      padding-inline: 3px;
    }
  }
  li.current-stop {
    color: $red;
    margin-block: 3px;
  }

  & > ul:before {
    background-image: linear-gradient(to bottom, $black);
    background-size: 100% 20px;
    background-repeat: no-repeat;
    animation: fill-arrow 10s linear;
    @keyframes fill-arrow {
      0% {
        background-size: 100% 0%;
      }
      100% {
        background-size: 100% 100%;
      }
    }
  }
}
