@use "reset";
@use "colors" as *;
@use "typography" as *;
@use "layout" as *;
@use "sass:math";
@use "components/organisms" as *;

/* ------- Layout ------- */

body {
  font-family: $main-font;
}

/* ------- Layout ------- */

.container {
  .wrapper {
    padding-inline: $wrapper-padding-inline;
    margin-block-end: $spacer-big;
  }
}
.container {
  max-width: calc(455px + 5vi);
  margin-inline: auto;
  @include container;
  @media (width <= $breakpoint-md) {
    max-width: 375px;
    padding-inline: $spacer-md;
  }
}

h1 {
  margin-block-start: $spacer-lg;
  margin-block-end: $spacer-xxl;
  text-align: center;
  @include page-title();
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacer-sm;
  margin-block-end: $spacer-xxl;
}

.test {
  .thermometer {
    @include thermometer($color: $primary-color);
  }
  .table {
    @include table($col-count: 18, $color-1: $primary-color);
  }
}
