@use "reset";
@use "typography" as *;

//design tokens
//exercice 1
$primary-color: #1b337a;
$primary-surface-color-1: #a3c2e5;
$primary-surface-color-2: #dde8f7;

//exercice 2
$secondary-color: #6f007d;

$white: #ffffff;
$black: #000000;
$gray: #909dbf;
$gray-dark: #6f6f6f;
$red: #ff2925;
/* ------- Breakpoint ------- */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "xxl": $breakpoint-xxl,
);

/* ------- Spacer ------- */

$spacer-block-xxs: 1.5px;
$spacer-block-xs: 3px;
$spacer-block-sm: 6px;
$spacer-block-md: 9px;
$spacer-block-lg: 12px;
$spacer-block-xl: 15px;
$spacer-block-xxl: 25px;
$spacer-block-big: 50px;

$spacer-inline-xxs: calc(1.5px + 0.3vi);
$spacer-inline-xs: calc(3px + 0.3vi);
$spacer-inline-sm: calc(6px + 0.3vi);
$spacer-inline-md: calc(9px + 0.3vi);
$spacer-inline-lg: calc(12px + 0.3vi);
$spacer-inline-xl: calc(15px + 0.3vi);
$spacer-inline-xxl: calc(25px + 0.3vi);

$wrapper-padding-inline: $spacer-inline-md;

//layout

.container {
  .wrapper {
    padding-inline: $wrapper-padding-inline;
    margin-block-end: $spacer-block-big;
  }
}

@mixin container() {
  width: 100%;
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width >= $breakpoint-sm) {
      width: calc($value - $spacer-inline-lg);
    }
  }
}

.container {
  max-width: 800px;
  margin-inline: auto;
  @include container;
}

.fiche {
  h1 {
    margin-block-start: $spacer-block-lg;
    margin-block-end: $spacer-block-xxl;
  }

  &__header {
    background-color: $primary-color;
    color: $white;
    padding-block: $spacer-block-sm $spacer-block-md;
    padding-inline: $spacer-inline-sm;
  }
  &__body {
    .table {
      // use variable from the server to set the number of columns
      $col-count: 18;
      display: grid;
      grid-template-columns: repeat($col-count, minmax(20px, 1fr));
      .table__col {
        border-block-start: 1px solid $gray;
        margin-block-end: $spacer-block-lg;
        min-height: 200px;

        &:not(:last-child) > div {
          border-inline-end: 1px solid $gray;
        }

        & > div:first-child {
          display: flex;
          justify-content: center;
          align-items: baseline;

          padding-inline: $spacer-inline-xs;
          padding-block: $spacer-block-xs;

          color: $white;
          background-color: $primary-color;
        }
        & > ul {
          display: flex;
          flex-direction: column;
          justify-content: baseline;
          align-items: center;
          gap: $spacer-block-xs;

          li {
            display: flex;
            padding-block: $spacer-block-xs;
            align-items: baseline;
          }
        }
      }
      @media (width <= $breakpoint-md) {
        grid-template-columns: repeat(round($col-count / 2), minmax(20px, 1fr));
        .table__col {
          @for $i from 1 through 18 {
            &:nth-child(2n + 1) {
              background-color: $primary-surface-color-1;
            }
            &:nth-child(2n) {
              background-color: $primary-surface-color-2;
            }
            &:nth-child(2n + 10) {
              background-color: $primary-surface-color-1;
            }
            &:nth-child(2n + 11) {
              background-color: $primary-surface-color-2;
            }
          }
        }
      }
      @media (width >= $breakpoint-md) {
        .table__col {
          &:nth-child(even) {
            background-color: $primary-surface-color-2;
          }
          &:nth-child(odd) {
            background-color: $primary-surface-color-1;
          }
        }
      }
    }
  }
}

.line-selector {
  display: flex;
  gap: $spacer-block-xs;
  button {
    background-color: $secondary-color;
    color: $white;
    padding: $spacer-block-sm $spacer-block-md;
    border-radius: $spacer-block-xxs;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: color-mix(in srgb, $secondary-color, $white 50%);
    }
  }
}

.thermometer {
  font-family: $heading-font;
  font-size: calc($font-size-sm - 0.2vi);
  line-height: 1.15rem;
  padding-inline: $spacer-inline-xl;
  overflow: hidden;
  ul {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: $spacer-block-xs;
    box-shadow: -5px 35px 0 0 $secondary-color, -5px 0 0 0 $black;
    transition: box-shadow 1s ease-in-out;

    li.main-stop:before {
      content: "";
      display: block;
      width: 18px;
      height: $spacer-block-md;
      background-color: $black;
      position: absolute;
      top: 50%;
      left: -14px;
      transform: translateX(-50%) translateY(-45%);
    }
    li.main-stop {
      font-size: $font-size-xs;
      text-transform: uppercase;
      line-height: initial;
      border: 1.5px solid $gray-dark;
      span:first-child {
        background-color: $secondary-color;
        color: $white;
        padding: $spacer-block-xxs;
      }
      span:last-child {
        padding-inline: $spacer-inline-xxs;
      }
    }
    li {
      width: fit-content;
      position: relative;
      margin-inline-start: 10px;
      margin-block: $spacer-block-xxs;
      &:before {
        content: "";
        display: block;
        width: 15px;
        height: $spacer-block-md;
        background-color: $white;
        border: 1px solid $gray-dark;
        position: absolute;
        top: 50%;
        left: -12.75px;
        transform: translateX(-50%) translateY(-50%);
        //transition: width 0.5s ease-in-out;
      }
    }
    li.current-stop {
      color: $red;
      &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: calc(($spacer-block-xl + 8.3px) * -1);
        transform: translateX(0) translateY(-50%);
        background-color: $black;
        box-shadow: 0 0 0 1px $white;
        transform-origin: center;
      }
    }
    li.main-stop.departure::before {
      box-shadow: 0px -5px 0 5px $white;
    }
    li.main-stop.arrival::before {
      box-shadow: 0px 5px 0 5px $white;
    }
    & > ul:first-child {
      margin-block-start: $spacer-block-xxl;
    }
    & > ul:has(.current-stop) {
      &::before {
        background-color: $black;
        transition: background-color 0.5s ease-in-out;
      }
    }

    ul {
      margin-inline-start: $spacer-block-xxl;
      width: fit-content;
      box-shadow: -5px 0 0 0 $secondary-color, -5px 0 0 0 $black;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 30px;
        height: 5px;
        background-color: $secondary-color;
        position: absolute;
        top: -3px;
        left: -30px;
        z-index: -1;
        & > li.main-stop::before {
          box-shadow: 0px 5px 0 5px $white;
        }
      }
      ul::after {
        content: "";
        display: block;
        width: 30px;
        height: 5px;
        background-color: $secondary-color;
        position: absolute;
        bottom: -5px;
        left: -30px;
      }
    }
  }
}
